@import 'tailwindcss';

@theme {
  --color-primary-50: #f5faff;
  --color-primary-100: #ecf2ff70;
  --color-primary-150: #e4eeffb2;
  --color-primary-500: #007aff;

  --color-offwhite: #efefef;
  --color-black: #282828;
  --color-mint-500: oklch(0.72 0.11 178);
  --max-width-8xl: 1440px;
}
